<ion-header>

  <ion-navbar>
    <ion-title>place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
    <ion-card>
        <img [src]="place.imageUrl">
        <ion-card-content>
          <ion-card-title>
            {{place.title}}
          </ion-card-title>
          <p>{{place.description}}</p>
          <div>
            <ion-icon *ngIf="!showMap" name="add" (click)="toggleMap()">Ver en mapa</ion-icon>
            <ion-icon *ngIf="showMap" name="remove" (click)="toggleMap()">Ocultar</ion-icon>
            <agm-map *ngIf="showMap"
              [latitude]="place.location.lat"
              [longitude]="place.location.lng"
              [zoom]="16">
                <agm-marker
                  [latitude]="place.location.lat"
                  [longitude]="place.location.lng">
                </agm-marker>
            </agm-map>
           </div>
        </ion-card-content>
      </ion-card>
</ion-content>
