<ion-header>

  <ion-navbar>
    <ion-title>place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
    <ion-card>
        <img [src]="place.imageUrl">
        <ion-card-content>
          <ion-card-title>
            {{place.title}}
          </ion-card-title>
          <p>{{place.description}}</p>
          <div>
            <button ion-button round icon-start (click)="toggleMap()">
                <ion-icon class="show" *ngIf="!showMap" name="add"></ion-icon>
                <ion-label fixed *ngIf="!showMap">Show map</ion-label>
                <ion-icon class="show" *ngIf="showMap" name="remove"></ion-icon>
                <ion-label fixed *ngIf="showMap">Hide</ion-label>
            </button>
            <agm-map *ngIf="showMap"
              [latitude]="place.location.lat"
              [longitude]="place.location.lng"
              [zoom]="16">
                <agm-marker
                  [latitude]="place.location.lat"
                  [longitude]="place.location.lng">
                </agm-marker>
            </agm-map>
           </div>
        </ion-card-content>
      </ion-card>
      <button ion-button color="danger" 
      block (click)="onDelete()">Delete</button>
</ion-content>
